body {
	 font-family: Garamond;
	margin:0;
	background-color: #ffdccc;
 }
 h2{
 	text-align: center;
 }
 img{
 	width: 100%;
 }
.navigation{
	position:sticky;
	top: 0;
}
#pages{
	list-style-type: none;
	background-color: #ccf3ff;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 25px;
 }
 li{
 	display: inline;
 	float: left;
 }
 li a{
 	display: block;
 	color: #4642ba;
 	padding: 14px 16px;
 	text-decoration: none;
 }
 li a.active{
 	background-color: #ebccff;
 }
 li a:hover:not(.active){
 	background-color: #8ad1e6;
 }
